In [1]:
import pandas as pd 
from datetime import datetime

In [2]:
dfs = {
    'Jan-2016-citibike': pd.read_csv('RawData/201601-citibike-tripdata.csv'),
    'Jul-2016-citibike': pd.read_csv('RawData/201607-citibike-tripdata.csv'),
    'Jan-2017-citibike': pd.read_csv('RawData/201701-citibike-tripdata.csv'),
    'Jul-2017-citibike': pd.read_csv('RawData/201707-citibike-tripdata.csv'),
    'Jan-2018-citibike': pd.read_csv('RawData/201801-citibike-tripdata.csv'),
    'Jul-2018-citibike': pd.read_csv('RawData/201807-citibike-tripdata.csv')
}

In [3]:
col_list = [
    'Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID', 'Start Station Name', 
    'Start Station Latitude', 'Start Station Longitude', 'End Station ID', 'End Station Name',
    'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Category', 'Birth Year', 'Gender'
]

In [4]:
rows_tot = 0

for key, df in dfs.items():
    df.columns = col_list
    rows_tot = rows_tot + df.shape[0]
    print(f'Total rows after adding {key}: {rows_tot}')

Total rows after adding Jan-2016-citibike: 509478
Total rows after adding Jul-2016-citibike: 1889588
Total rows after adding Jan-2017-citibike: 2616264
Total rows after adding Jul-2017-citibike: 4351863
Total rows after adding Jan-2018-citibike: 5070857
Total rows after adding Jul-2018-citibike: 6984482

In [5]:
df_all = pd.DataFrame()

for key, df in dfs.items():

    # Create individual csv files for each month
#     df.to_csv('CleanData/' + key + '.csv', index=False)
    
    # Create a df containing all of the data
    df_all = df_all.append(dfs[key], ignore_index=True)

In [6]:
df_all['Start Time'] = pd.to_datetime(df_all['Start Time'])
df_all['Stop Time'] = pd.to_datetime(df_all['Stop Time'])
df_all['Gender'] = df_all['Gender'].map({1: 'Male', 2: 'Female'})

In [17]:
# Create a csv with all combined months
df_all.to_csv('CleanData/combined.csv', index=False)

In [16]:
df_all.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Category,Birth Year,Gender
0,923,2016-01-01 00:00:41,2016-01-01 00:16:04,268,Howard St & Centre St,40.719105,-73.999733,3002,South End Ave & Liberty St,40.711512,-74.015756,22285,Subscriber,1958.0,Male
1,379,2016-01-01 00:00:45,2016-01-01 00:07:04,476,E 31 St & 3 Ave,40.743943,-73.979661,498,Broadway & W 32 St,40.748549,-73.988084,17827,Subscriber,1969.0,Male
2,589,2016-01-01 00:00:48,2016-01-01 00:10:37,489,10 Ave & W 28 St,40.750664,-74.001768,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,21997,Subscriber,1982.0,Female
3,889,2016-01-01 00:01:06,2016-01-01 00:15:56,268,Howard St & Centre St,40.719105,-73.999733,3002,South End Ave & Liberty St,40.711512,-74.015756,22794,Subscriber,1961.0,Female
4,1480,2016-01-01 00:01:12,2016-01-01 00:25:52,2006,Central Park S & 6 Ave,40.765909,-73.976342,2006,Central Park S & 6 Ave,40.765909,-73.976342,14562,Subscriber,1952.0,Male